@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

*{
  font-family: 'DM Mono', monospace;
}

.page {
  margin: auto;
  height: 95vh;
  width: 960px;
  max-width: 960px;
  display: flex;
  flex-direction: row;
}

.chat-wrapper {
  width: 75%;
}

.messages-container {
  background-color: azure;
  display: flex;
  flex-direction: column;
  height: 92%;
  max-height: 92%;
  overflow: auto;
  width: 100%;
  border: 1px solid dimgrey;
  border-radius: 10px;
  padding: 5px 0px 10px;
  margin: 10px auto;
}

.side-panel {
  font-size: larger;
  background-color: azure;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  width: 24%;
  border: 1px solid dimgrey;
  border-radius: 10px;
  padding: 5px 0px 10px;
  margin: 10px 0px 10px 10px;
  overflow-wrap: break-word;
}

.side-panel-container {
  width:max-content;
  height: max-content;
  padding: 0px 15px;
}

.empty-user {
  display: none;
}

.message-bubble {
  min-width: 50%;
  width: max-content;
  max-width: 75%;
  padding: 10px;
  border: 1px solid dimgrey;
  border-radius: 10px;
  word-wrap:break-word;
}

.outgoing-message .row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.outgoing-message .message-bubble {
  background-color: rgb(255, 208, 215);
  margin: 5px 10px 5px auto;
  text-align: right;
  border-bottom-right-radius: 0px;
}

.incoming-message .row {
  justify-content: flex-start;
}

.incoming-message .message-bubble {
  background-color: lavender;
  text-align: left;
  margin: 5px auto 5px 10px;
  border-bottom-left-radius: 0px;
}

.notification .row {
  justify-content: center;
}

.notification .message-bubble {
  background-color: papayawhip;
  text-align: center;
  margin: 5px auto;
}

.message-text {
  font-size: larger;
}

.username-text {
  font-size: larger;
  font-weight: 500;
}

.timestamp-text {
  font-size: medium;
  font-style: italic;
  font-weight: 200;
  color: dimgrey;
}

.emoji {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

li {
  padding: .1em 0em;
}

textarea {
  resize: none;
  height: 100%;
  width: 100%;
  margin-right: 5px;
  font-size: larger;
}

form {
  width: 100%;
  height: 6%;
  display: flex;
  flex-direction: row;
}

button {
  height: min-content;
  margin-top: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: pink; 
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: plum; 
}

@media (max-width: 960px){
  .page {
    width: 100%;
    flex-direction: column-reverse;
  }
  
  .chat-wrapper {
    width: 100%;
    height: 75%;
  }

  .side-panel{
    height: 25%;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
