.page {
  margin: auto;
  height: 85vh;
  width: max-content;
  min-width: 950px;
  display: flex;
  flex-direction: row;
}

.chat-wrapper {
  width: 75%;
}

.messages-container {
  background-color: azure;
  display: flex;
  flex-direction: column;
  height: 92%;
  max-height: 92%;
  overflow: auto;
  width: 100%;
  border: 1px solid dimgrey;
  border-radius: 10px;
  padding: 5px 0px 10px;
  margin: 10px auto;
}

.user-panel {
  background-color: azure;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  width: 24%;
  border: 1px solid dimgrey;
  border-radius: 10px;
  padding: 5px 0px 10px;
  margin: 10px 0px 10px 10px;
}

.outgoing-message .row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.outgoing-message .message-bubble {
  width: 75%;
  background-color: rgb(255, 208, 215);
  color: dimgrey;
  padding: 10px;
  margin: 5px 10px 5px auto;
  text-align: right;
  border: 1px solid dimgrey;
  border-radius: 10px 10px 0px 10px;
}

.incoming-message .row {
  justify-content: flex-start;
}

.incoming-message .message-bubble {
  width: 75%;
  background-color: lavender;
  color: dimgrey;
  text-align: left;
  padding: 10px;
  margin: 5px auto 5px 10px;
  border: 1px solid dimgrey;
  border-radius: 10px 10px 10px 0px;
}

textarea {
  resize: none;
  height: 100%;
  width: 100%;
  margin-right: 5px;
}

form {
  width: 100%;
  height: 6%;
  display: flex;
  flex-direction: row;
}

button {
  height: min-content;
  margin-top: auto;
}